node_modules/
**/node_modules/
dist/
**/dist/
.vite_cache/
**/.vite_cache/
__pycache__/
**/__pycache__/
*.pyc
*.log
**/*.log
*.local
.env
.env.*
*.key
.DS_Store
Thumbs.db
_pub
_pub/
